<html>
<body>
<div class="clear"> </div>
<!-- création du footer avec un renvoi vers mon adresse mais petite subtilité je lui ajoute une classe afin de pouvoir changer
sa position qui sera différente de celui du footer en page d'acceuil -->
<footer class="footer2">
  <div class="content copyright">
    <!-- la div a également un id (différent sur chaque page) car présence d'une classe et l'id permet de manipuler la
    balise p plus facilement -->
    <p>
      <!-- j'integre donc la date de l'examen, mon prénom, mon nom et mon addresse mail -->
      Examen 01/09/2020 - Florian - Davila Gomez - <a class="mail" href="mailto:floriandav6@gmail.com">floriandav6@gmail.com</a>
    </p>


  </div>
</footer>

</body>
</html>
